In [1]:
#tipe data integer
print (123123123123123123123123 + 1)

123123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

In [3]:
#tipe data float
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [4]:
#tipe data string
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [5]:
#string dapat mencetak code yang kosong, selain itu dapat menggunakan (" "), dan ('')
print('')
print("aku mengikuti program data science")
print('aku mengikuti program data science')

aku mengikuti program data science
aku mengikuti program data science

In [6]:
#tipe data boolean (boolean hanya dapat menghasilkan nilai true dan false)
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [7]:
#boolean digunakan untuk hasil operasi perbandingan
a = 15 < 10
print(a)
s = 17 > 12
print(s)

False
True

In [8]:
#variable assignment
n = 5000
print(n)

5000

In [9]:
p = q = r = 200
print(p, q, r)

200 200 200

In [10]:
#pada python, var bisa dikasih value dari satu jenis ke jenis yang berbeda
var = 25.5
print(var)

var = "aku mengikuti program hacktiv"
print(var)

25.5
aku mengikuti program hacktiv

In [11]:
#nama variabel di pyhton bisa diisi apa pun itu asal karakter pertama dari nama var ga boleh digit, angka
name = "hacktiv8"
age = 20
has_laptop = True
print(name, age, has_laptop)

hacktiv8 20 True

In [12]:
#operator artimatika
p = 5
q = 3

print(p+q)
print(p-q)
print(p*q)
print(p/q)
print(p%q)
print(p**q)

8
2
15
1.6666666666666667
2
125

In [13]:
#comparison operator, yang dimana akan mengahsilkan nilai boolean
p = 20
q = 30
print(p == q)
print(p != q)
print(p <= q)
print(p >= q)

False
True
True
False

In [14]:
#case comversion
s = 'datA SCienCE'

#capitalize(memberikan huruf pertama kapital dan dilanjutkan huruf kecil )
print(s.capitalize())

#huruf kecil
print(s.lower())

#swapcase(pertukaran yang tadinya huruf kecil jadi besar dan sebaliknya)
print(s.swapcase())

#judul
print(s.title())

#uppercase(semua huruf menjadi kapital)
print(s.upper())

Data science
data science
DATa scIENce
Data Science
DATA SCIENCE

In [15]:
#list
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [16]:
#list yang punya elemen sama, tapi urutannya beda, berarti tetep beda
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [17]:
#didalam list bisa berisi element dengan bermacam jenis yang berbeda
a = [22.52, 'foobar', 5, 6, 'bark', False, 5.16178]
print(a)

[22.52, 'foobar', 5, 6, 'bark', False, 5.16178]

In [18]:
#elemen di dalam list dapat diakses dengan indeks (yang dimana dimulai dengan angka 0)
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[3])
print(a[-2]) #kalau mau diakses pake indeks listnegatif berarti mulai dari kanan (-1)

foo
qux
quux